body {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 80em; /* Set a maximum width for ease of reading on wide screens. */
	margin: auto; /* Centre the body of the page. */
}

h1, h2 {
	font-family: serif; /* Fancier headings. */
}

h1 {
	text-align: center; /* The page's main heading is centred. */
}

section {
	border-top: 1px solid black; /* Separation lines between sections.*/
	padding: 0 1em 0 1em; /* Slight indentations. Makes overline more striking. */
	width: 60%;
}

section#intro {
	/* Intro section is plain. */
	border: none;
	max-width: 50em;
	margin: auto;
}

section#contact, section#photo {
	width: 30%;
	clear: right; /* Make sure photo and contact are vertically stacked. */
	float: right;
}

section#photo img {
	max-width: 70%;
	margin: auto;
	display: block;
	margin-bottom: 2em; /* Auto-margin sets bottom to zero. The contact section
	                     * gets to close. */
}
